body{
    background-color: white;
    color: #555555;
}
header{
    background-color: #002171;
    color: #ffff;
}
nav{
  background-color: #bbdefb;  
}
h2{
    color: #1976b2;
}
dt{
    color: #002171;
}
.companyname{
    color: #1976D2;
}